script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js", type ="text/javascript")
script(src="http://calebevans.me/projects/jcanvas/resources/jcanvas/jcanvas.min.js", type="text/javascript")
