script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js", type ="text/javascript")
script(src="http://calebevans.me/projects/jcanvas/resources/jcanvas/jcanvas.min.js", type="text/javascript")
script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js", type="text/javascript")
link(rel="stylesheet", href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-lightness/jquery-ui.css", type="text/css", media="all")
