


include includes/head
div#fb-root
script(src="http://connect.facebook.net/en_US/all.js" type="text/javascript")

div#container
	h1 Start Drawing!
	div#colorpicker
	div#text
	div#brushsizetext	
	div#brushslider
	div#download Download your image!
	span#clearcanvas Clear Canvas!
	span#clickme Choose a colour!
div#drawingdiv
	canvas#draw(width=900, height=400)
div#footer
	p darn simple drawing - alexander gamble 2011


script(type="text/javascript")
	window.fbAsyncInit = function() {
		FB.init({
			appId  : '194268853965392',
			status : true, // check login status
			cookie : true, // enable cookies to allow the server to access the session
			xfbml  : true,  // parse XFBML
			channelUrl  : 'http://www.elephantsdontexist.com/channel.html',
			oauth : true //enables OAuth 2.0
		});
	};

	(function() {
		var e = document.createElement('script');
		e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
		e.async = true;
		document.getElementById('fb-root').appendChild(e);
	}());

script(type="text/javascript")
	
	var x;
	var y;
	var size;
	var color;
	
	//color picker
	$('#colorpicker').farbtastic();
	
	//function to be run to update text saying what size the brush is
	function sliderupdate(){
		size = $("#brushslider").slider("value");
		$("#brushsizetext").text("Brush Size: "+ size);	
	}

	$('#clickme').click(function() {
			$('#colorpicker').slideDown('slow', function() {
	// Animation complete.
			});
	});
	
	//slider function
	$( "#brushslider" ).slider({
		min:0,
		max:101,
		value:20,
		slide: function() {
			sliderupdate();
		}
	});
	
	//some now.js magic SHHH
	
	$("#clearcanvas").click(function(){
		$("canvas#draw").clearCanvas();
	});
	
	//now.recclearcanvas = function(){
	//	$("canvas#draw").clearCanvas();
	
	
	//end nowjs clearcanvas magic
	
	//run this so it works on page load
	sliderupdate();
	//the drawing circles for painting thing
	function circle(color, x, y, size) {
		$("canvas#draw").drawEllipse({
			fillStyle: color,
			x: x,
			y: y,
			width: size,
			height: size,
			fromCenter: true
		});
	};
	
	//old code which simply creates one circle instead of the many BELOW!!!
	/*
	$("#draw").bind('click',function(e){
	
			x = e.pageX - this.offsetLeft;
			y = e.pageY - this.offsetTop;
		
		$("#text").text(x +', '+y);
		
		circle(x, y);
	});
	*/
	
	//sort of fixes this pointer changes to text selector on paint issue....
	$("#draw").onselectstart = function () { return false; } // ie
	$("#draw").onmousedown = function () { return false; } //mozilla based browsers (nothing for chrome yet)
	
	//begin painting
	$("#draw").mousedown(function (e) {

		// creating preliminary circle to start painting
		x = e.pageX - this.offsetLeft;
		y = e.pageY - this.offsetTop;
		
		//now.x = x;
		//now.y = y;
		//now.size = size;
		//now.color = color;
		
		//when the mouse is pushed, it calls the color selected from farbtastic
		color = $.farbtastic("#colorpicker").color;
		
		//paints the first circle with this color!
		circle(color, x, y, size);
		
		// now.sendpaint(now.color, now.x, now.y, now.size);
		
		$('#colorpicker').slideUp('slow', function() {});
			
		//this calls the mousemove event to live as a result of pressing the mouse down
		$("#draw").live('mousemove', function(e) {
			// checking for where the cursor is at 'event' page context minus object context
			x = e.pageX - this.offsetLeft;
			y = e.pageY - this.offsetTop;
			
			//now.x = x;
			//now.y = y;
			
			//now.sendpaint(now.x, now.y);
			
			circle(color, x, y, size);

			//to check co ordinates are working
			//$("#text").text(x + ', ' + y);

			})	
	})
	/*
	now.receivepaint =  function(){
		circle(now.color, now.x, now.y, now.size);
	}
	*/
	
	//this is the universal killswitch for the painting. when it is done, simply kill the mousemove function	
	$(document).mouseup(function(){
		$("#draw").die('mousemove');
		});		

script(type='text/javascript')
	
	$("#download").click(function(){
	
	
	
	})


	
