
h1= title
p Welcome to #{title}

include includes/head
div#colorpicker
div#text
div#brushsize
	div#slider
	div#brushsizetext	
canvas#draw(width=500, height=400)







script(type="text/javascript")
	
	var x;
	var y;
	var size;
	var color;
	
	//color picker
	$('#colorpicker').farbtastic();
	
	//function to be run to update text saying what size the brush is
	function sliderupdate(){
		size = $("#slider").slider("value");
		$("#brushsizetext").text("Brush Size: "+ size);	
	}

	
	//slider function
	$( "#slider" ).slider({
		min:0,
		max:100,
		value:1,
		slide: function() {
			sliderupdate();
		}
	});
	

	
	//run this so it works on page load
	sliderupdate();
	//the drawing circles for painting thing
	function circle(color, x, y, size) {
		$("canvas#draw").drawEllipse({
			fillStyle: color,
			x: x,
			y: y,
			width: size,
			height: size,
			fromCenter: true
		});
	};
	
	//old code which simply creates one circle instead of the many BELOW!!!
	/*
	$("#draw").bind('click',function(e){
	
			x = e.pageX - this.offsetLeft;
			y = e.pageY - this.offsetTop;
		
		$("#text").text(x +', '+y);
		
		circle(x, y);
	});
	*/
	//sort of fixes this pointer changes to text selector on paint issue....
	$("#draw").onselectstart = function () { return false; } // ie
	$("#draw").onmousedown = function () { return false; } //mozilla based browsers (nothing for chrome yet)
	
	//begin painting
	$("#draw").mousedown(function (e) {

		// creating preliminary circle to start painting
		x = e.pageX - this.offsetLeft;
		y = e.pageY - this.offsetTop;
		
		//when the mouse is pushed, it calls the color selected from farbtastic
		color = $.farbtastic("#colorpicker").color;
		
		//paints the first circle with this color!
		circle(color, x, y, size);
		
		
		
		//this calls the mousemove event to live as a result of pressing the mouse down
		$("#draw").live('mousemove', function(e) {
			// checking for where the cursor is at 'event' page context minus object context
			x = e.pageX - this.offsetLeft;
			y = e.pageY - this.offsetTop;

			circle(color, x, y, size);
			$("#text").text(x + ', ' + y);

			})	
	})
		
	//this is the universal killswitch for the painting. when it is done, simply kill the mousemove function	
	$(document).mouseup(function(){
		$("#draw").die('mousemove');
		})	
		
	
	
