
h1= title
p Welcome to #{title}

include includes/head
div.selector
div#text
div#drawdiv
	canvas#draw.draw(width=500, height=400)




script(type="text/javascript")
	
	var x;
	var y;



	function circle(x, y) {
		$("canvas.draw").drawEllipse({
			fillStyle: "black",
			x: x,
			y: y,
			width: 100,
			height: 100,
			fromCenter: true
		});
	};


	//old code which simply creates one circle instead of the many BELOW!!!
	/*
	$("#draw").bind('click',function(e){
	
			x = e.pageX - this.offsetLeft;
			y = e.pageY - this.offsetTop;
		
		$("#text").text(x +', '+y);
		
		circle(x, y);
	});
	*/
	
	//begin painting
	$("#draw").mousedown(function (e) {

		// creating preliminary circle to start painting
		x = e.pageX - this.offsetLeft;
		y = e.pageY - this.offsetTop;

		circle(x, y);
		
		//this calls the mousemove event to live as a result of pressing the mouse down
		$("#draw").live('mousemove', function(e) {
			// checking for where the cursor is at 'event' page context minus object context
			x = e.pageX - this.offsetLeft;
			y = e.pageY - this.offsetTop;
			
			circle(x, y);
			$("#text").text(x + ', ' + y);

			})	
	})
		
	//this is the universal killswitch for the painting. when it is done, simply kill the mousemove function	
	$(document).mouseup(function(){
		$("#draw").die('mousemove');
		})	

	
