
include includes/head

div#fb-root

div#login Start! Click Here!

script(type="text/javascript")



	
	FB.init({
		appId  : '194268853965392',
		status : true, // check login status
		cookie : true, // enable cookies to allow the server to access the session
		xfbml  : true,  // parse XFBML
	});
	
	
	$('#login').click(function(){
		FB.login(function(response) {
			if (response.authResponse) {
				setTimeout("location.reload(true);", 1);
			} else {
				setTimeout("location.reload(true);", 1);
			}
		}
		)
	})


		

