body {
	
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

h1 {
	position:absolute;
	left: 50px;
	top: 20px;

}



#container {
	width:760px;
	margin: 0 auto;
}

a {
  color: #00B7FF;
}

#controls {
	width: 160px;
	position:absolute;
	top: 10px;
	right:10px;
}

#clearcanvas {
	position: relative;
	background-color: red;
	padding: 10px;
	top: 30px;

	
}

.ui-slider-handle{
	background:black;
}

.ui-slider {
	width:100px;
}


#brushslider {
	position: absolute;
	top: 45px;
	left: 270px;
	z-index: 1;
}


 #brushsizetext {
	position: absolute;
	left: 400px;
	top: 45px;
}

#drawingdiv {
	margin: 0;
	width: 500px;
	height: 350px;
	border: 5px solid black;
	position: relative;


}

#draw {
	position:relative;
	-ttrmoz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
	height: 350px;
	width: 500px;

}



#colorpicker {
	position:absolute;
	width: 195px;
	left: 740px;
	top: 120px;
	z-index: 4;
}



#clickme {
	position: absolute;
	padding: 10px;
	width: 112px;
	left: 780px;
	top: 30px;
	background-color: black;
	color: white;

}

#footer {
	width: 100%;
	height: 20px;
	text-align: center;
	font: italic 14px Helvetica, Arial, sans-serif;
	color: gray;
}

#download {
	width: 200px;
	height: 40px;
}

