body {
	
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	width: 960px;
}

h1 {
	position:relative;
	left:45px;
	top: 20px;

}

a {
  color: #00B7FF;
}

#clearcanvas {
	position: relative;
	left: 600px;
	top: -50px;
	padding: 10px;
	background-color: red;
	

	
}

.ui-slider-handle{
	background:black;
}

.ui-slider {
	width:100px;
}


#brushslider {
	position: relative;
	left: 300px;
	top: -35px;
	z-index: 1;
}


 #brushsizetext {
	position: relative;

	left: 420px;
	top: -20px;
}



#draw {
		position:absolute;
	 -ttrmoz-user-select: -moz-none;
	   -khtml-user-select: none;
	   -webkit-user-select: none;
	   user-select: none;
	   cursor: default;
	   border-width: 5px;
	   border-style: solid;
	   border-color: #000;
	   z-index: -1; !important
	   left:45px;
	   margin-left: -455px;

}

#colorpicker {
	position:absolute;
	width: 195px;
	left: 740px;	
	top: 120px;
	z-index: 5; !important

	display: none;
}



#clickme {
	position: relative;
	left: 685px;
	top: -50px;
	padding: 10px;
	width: 112px;
	background-color: black;
	color: white;

}


